<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--[if lt IE 9]>
<script>
	document.createElement('header');
	document.createElement('nav');
	document.createElement('section');
	document.createElement('article');
	document.createElement('aside');
	document.createElement('footer');
</script>
<style>
	header, nav, section, article, aside, footer { display:block; }
</style> 
<![endif]-->
<!-- Custom styles for this template -->
<link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic" rel="stylesheet" type="text/css">
<link href="/stylesheets/stylesheet.css" rel="stylesheet">
<link href="/stylesheets/vvvas.css" rel="stylesheet">
<title>Quantares.ru {{ page.title }}</title>
</head>
<body>

{% include header_menu.html %}

<a class="name" name="text"></a>
<section id="text">
	<div>

{{ content }}

	</div>
</section>

<a class="name" name="address"></a>
<section id="address">
	<div>

{% include address_text.html %}

	</div>
</section>

{% include footer_menu.html %}

</body>
</html>
