<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--[if lt IE 9]>
<script>
	document.createElement('header');
	document.createElement('nav');
	document.createElement('section');
	document.createElement('article');
	document.createElement('aside');
	document.createElement('footer');
</script>
<style>
	header, nav, section, article, aside, footer { display:block; }
</style> 
<![endif]-->
<!-- Custom styles for this template -->
<link href="/stylesheets/stylesheet.css" rel="stylesheet">
<link href="/stylesheets/vvvas.css" rel="stylesheet">
<title>Quantares.ru {{ page.title }}</title>
</head>
<body>

{% include header_menu.html %}

<a class="name" name="text"></a>
<section id="text">
	<div>

{{ content }}

	</div>
</section>

<a class="name" name="address"></a>
<section id="address">
	<div>
		<h2>Контактная информация</h2>
		<p>Звоните нам по телефону +7&nbsp;925&nbsp;719-49-63 или пишите на электронную почту <a href="mailto:info@quantares.ru">info@quantares.ru</a>.</p>

		<p>Приходите в&nbsp;наш&nbsp;магазин в&nbsp;Москве по&nbsp;будням с&nbsp;10:00 до&nbsp;20:00 и по&nbsp;выходным с&nbsp;10:00 до&nbsp;18:00 по&nbsp;адресу Волгоградский проспект, дом&nbsp;32, корпус&nbsp;8, торговый центр «Техно-Холл», павильон&nbsp;B8 (он&nbsp;же&nbsp;C8).</p>
	</div>
</section>

{% include footer_menu.html %}

</body>
</html>
