{% include header_tech.html %}

<title>Quantares.ru — {{ page.title }}</title>
</head>
<body>

{% include header_menu.html %}

<div id="wrap">

<section id="catalog">
	<div>
	<h2>Каталог</h2>
	<ul>
		<li>Лампы</li>
		<li>Светодиодные светильники</li>
		<li>Трансформаторы и блоки питания</li>
		<li>Датчики и выключатели</li>
		<li>Светодиодные ленты</li>
	</ul>
	</div>
</section>

<section id="main">
	<div>

{{ content }}

<ul>
	{% for tag.led in site.pages.tags %}
		<li>
			<a href="{{ page.url }}">{{ page.title }}</a>
		</li>
	{% endfor %}
</ul>

{% include social-likes.html %}

	</div>
</section>

</div><!-- END #wrap -->

{% include section_address.html %}

{% include footer_menu.html %}

{% include footer_tech.html %}
