<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">
<title>Quantares.ru</title>
</head>
<body>
<!-- HEADER -->
<div id="header_wrap" class="outer">
<header class="inner">
<h1 id="project_title">Quantares.ru</h1>
</header>
</div>
<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
<section id="main_content" class="inner">
{{ content }}
</section>
</div>
<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
<footer class="inner">
<p>+7&nbsp;925&nbsp;719-49-63 или <a href="mailto:info@quantares.ru">info@quantares.ru</a></p>
<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=4jksNwXiO2XQ1EOmZgRG8WlLvbiW8K7c&width=600&height=450"></script>
</footer>
</div>
</body>
</html>
