{% include header_tech.html %}

<title>Quantares.ru — {{ page.title }}</title>
</head>
<body>

{% include header_menu.html %}

<a class="name" name="text"></a>
<section id="text">
	<div>

{{ content }}

	</div>
</section>

<a class="name" name="blog"></a>
<section id="blog">
	<div>
	<h2>Блог</h2>
	<ul>
	{% for post in site.posts %}
		<li>
			<a href="{{ post.url }}">{{ post.title }}</a> — <em>{{ post.date | date: "%m.%Y" }}</em>.
		</li>
	{% endfor %}
	</ul>
	</div>
</section>

<!-- a class="name" name="about"></a>
<section id="about">
	<div>
		<h2>О компании</h2>
		<p>Мы занимаемся продажей светодиодного электротехнического оборудования.</p>
	</div>	
</section -->

{% include section_address.html %}

{% include footer_menu.html %}

{% include footer_tech.html %}
