{% include header_tech.html %}

<title>Блог Quantares.ru — {{ page.title }}</title>
</head>
<body>

{% include header_menu.html %}

<a class="name" name="text"></a>
<section id="text">
	<div>

{{ content }}

		<div class="social-likes" data-counters="no">
			<div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
			<div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
			<div class="mailru" title="Поделиться ссылкой в Моём мире">Мой мир</div>
			<div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
			<div class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</div>
			<div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
		</div>
	</div>
</section>

{% include section_address.html %}

{% include footer_menu.html %}

{% include footer_tech.html %}
