<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--[if lt IE 9]>
<script>
	document.createElement('header');
	document.createElement('nav');
	document.createElement('section');
	document.createElement('article');
	document.createElement('aside');
	document.createElement('footer');
</script>
<style>
	header, nav, section, article, aside, footer { display:block; }
</style> 
<![endif]-->
<!-- Custom styles for this template -->
<link href="http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&subset=latin,cyrillic" rel="stylesheet" type="text/css">
<link href="/stylesheets/stylesheet.css" rel="stylesheet">
<link href="/stylesheets/vvvas.css" rel="stylesheet">
<link href="/social-likes/social-likes_classic.css" rel="stylesheet">
<title>Блог Quantares.ru — {{ page.title }}</title>
</head>
<body>

{% include header_menu.html %}

<a class="name" name="text"></a>
<section id="text">
	<div>

{{ content }}

		<div class="social-likes" data-counters="no">
			<div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
			<div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
			<div class="mailru" title="Поделиться ссылкой в Моём мире">Мой мир</div>
			<div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
			<div class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</div>
			<div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
		</div>
	</div>
</section>

{% include section_address.html %}

{% include footer_menu.html %}

<script src="http://yastatic.net/jquery/1.11.0/jquery.min.js"></script>
<script src="/social-likes/social-likes.min.js"></script>

</body>
</html>
